.workoutt {
   background: #333333;
   color: #f3e9dc;
   width: 80%;
   height: 20px;
   padding: 20px;
   margin: -1px;
   margin-top: 10px;
   border: 1px solid #f3e9dc;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
