.main {
   display: grid;
   grid-template-rows: 90% auto;
   background-image: url("../../assets//images/main_background-min.jpg");
   background-size: cover;
   background-position-x: 50%;
   height: 100%;
}

.main .my-workout {
   background: #f5f5f5;
   color: #000000;
   width: 85%;
   margin: auto;
   display: block;
   border-radius: 5px;
   text-align: center;
   font-size: 1.2em;
   padding: 10px;
}

