.main {
   display: grid;
   grid-template-rows: 95% auto;
   background-image: url("../../assets//images/main_background.jpg");
   background-size: cover;
   background-position-x: 50%;
   height: 100%;
}

.main .my-workout {
   width: 85%;
   margin: auto;
   display: block;
   text-align: center;
   padding-top: 570px;;
}

.main .my-workout button {
   background: #f5f5f5;
   width: 100%;
   height: 40px;
   font-size: 1.2em;
   border: none;
   border-radius: 5px;
}
