* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body,
html,
#root,
.App {
   height: 100%;
}

.vertical-center {
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.clearfix {
   overflow: auto;
}

a {
   text-decoration: none;
}

button {
   cursor: pointer;
   background: none;
   border: none;
}

.input-form input {
   display: block;
   width: 100%;
   margin: auto;
   font-size: 1.4em;
   margin-top: 10px;
}

.classic-input {
   width: 100%;
   height: 50px;
   border-radius: 5px;
   border: 1px solid #e0e0e0;
   padding-left: 5px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.btn-primary {
   background: #1e2019;
   color: #ffffff;
   border: none;
}
